<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-3">
            <mat-card>
            <div class="text-center" >
                <img src="assets/image/profile.jpg" >
                <h1> {{userData.firstname}} {{userData.lastname}} </h1>
            </div>
            <table>
                <thead class="table table-bordered text-center ">
                    <tr>
                        <th>User Name</th>
                        <td>{{userData.username}} </td>
                    </tr>
                    <tr>
                        <th>User Id</th>
                        <td>{{userData.id}} </td>
                    </tr>
                    <tr>
                        <th>User Roll</th>
                        <td>{{userData.authorities[0].authority}} </td>
                    </tr>

                    <tr>
                        <th>Phone No</th>
                        <td>{{userData.phone}} </td>
                    </tr>
                    <tr>
                        <th>User Status</th>
                        <td>{{userData.enabled}}</td>
                    </tr>



                </thead>
            </table>
            </mat-card>
        </div>
    </div>
</div>
