<mat-card>
    <h1 class="m-3 mt-2">Add Quizes</h1>
    <mat-card-content>
        <div class="container">
            <div class="row justify-content-center" >
                <div class="col-8 ">
                    <form class="row" [formGroup]="addquizesForm" >
                        <mat-form-field  appearance="outline">
                            <mat-label > title</mat-label>
                            <input type="text" formControlName="title" matInput name="title" >
                        </mat-form-field>
                        <mat-form-field  appearance="outline">
                            <mat-label > Discription</mat-label>
                            <textarea type="text" formControlName="description" matInput name="description" rows="3"></textarea>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" appearance="outline">
                            <mat-label >Max Marks</mat-label>
                            <input type="number" formControlName="maxMarks" matInput name="maxMarks" >
                        </mat-form-field>
                        <mat-form-field  class="col-md-6" appearance="outline">
                            <mat-label >No of question</mat-label>
                            <input type="number" formControlName="numberOfQuestions" matInput name="numberOfQuestions" >
                        </mat-form-field>
                             
                        <mat-slide-toggle [checked]="false" formControlName="active">published status</mat-slide-toggle>
                        <mat-form-field class="mt-2" appearance="outline">
                            <mat-label >Category Id</mat-label>
                            <mat-select formControlName="category_id">
                                <mat-option *ngFor="let category of getCategoryData" [value]="category.category_id">{{category.title}} </mat-option>

                            </mat-select>
                        </mat-form-field>

                        <div class="text-center">
                            <button mat-raised-button color="primary" (click)="addquizesubmit()" [disabled]="addquizesForm.invalid">submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>